@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #18181B;
  background-color: #ffffff;
}

html,
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

.max-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.glass-navbar {
  height: 92px;
  backdrop-filter: blur(25.94856834411621px);
  border-radius: 126.04px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}